body {
	background-image: url(http://www.planwallpaper.com/static/images/recycled_texture_background_by_sandeep_m-d6aeau9_PZ9chud.jpg);
}
input {
    border:1px solid #9E9E9E;
    color: #000000;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 11px;
    font-family: Verdana;
    background: #FFF;
}
.main {
	margin-top: -10px;
}
.mainCard {
	width: '512px';
	min-height: '556px';
	position: 'absolute';
	background-color:'LavenderBlush';
	padding: '10px';
	height: 'auto';
}
.realTimeJSONCard {
	width: '256px';
	background-color:'LavenderBlush';
	position: 'absolute';
	right: 0;
	padding: '10px';
}